.articleCard-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  color: rgb(227, 255, 227);
}

.article-image {
  height: 75%;
  width: 75%;
}

.img-wrapper {
    margin-bottom: 2px;
}

.timeArticle {
  background-color: #000;
  color: rgb(227, 255, 227);
  display: inline;
  padding: 0.25rem 0.25rem;
  font-family: Montserrat;
  font-weight: 600;
  text-align: left;
}
.article-description {
  margin-top: rem;
}
.article-heading {
  font-size: 1.5rem;
  font-weight: 900;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgb(227, 255, 227);
  font
}

.article-paragraph {
  text-align: left;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.button-article {
  background-color: rgb(70, 127, 70);
  color: rgb(227, 255, 227);
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 50px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

@media (min-width: 667px) and (max-width: 1024px) {
  .articleCard-wrapper {
    padding: 2rem;
  }
}

@media (min-width: 1025px) {
  .articleCard-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .article-heading {
    font-size: 3.5rem;
    color: black;
  }

  .article-heading {
    color: black;
    font-size: 1rem;
    text-align: left;
  }

  .article-paragraph {
    text-align: left;
    font-size: 1rem;
  }
}
