.tech-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: lightblue;
  width: 100%;
}

.tech-h2 {
  color: white;
  font-family: Montserrat;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.tech-wrapper {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  gap: 124px;
  flex-shrink: 0;
  padding: 5em 0;
}

.stack-wrapper {
  color: green;
  font-family: "Hind";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 600px;
}
