.contact {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  width: 100%;
}

.contact-container {
  display: flex;
  justify-content: center;
}
.contact-container {
  padding-bottom: 2em;
}
