@font-face {
  font-family: "Hind";
  src: url(/src/Font/Hind-Regular.ttf);
}

body {
  /* background-color: rgb(227, 255, 227); */
  background-color: white;
  font-family: "Hind";
  width: auto;
  height: auto;
}

/* @media (max-width: 1280px) {
  body {
    width: 1280px;
    height: auto;
  } */
/* } */
